In [9]:
#Exercise01

Andersen = {"The Emperor’s New Clothes", "The Little Mermaid",\
            "The Little Match Girl", "The Snow Queen"}
print(Andersen)

{'The Emperor’s New Clothes', 'The Little Mermaid', 'The Little Match Girl', 'The Snow Queen'}

In [10]:
#Exercise02

Shakespeare = {"Romeo and Juliet", "Hamlet", "King Lear", "Macbeth",\
               "A Midsummer Night’s Dream", "A Comedy of Errors"}
print(Shakespeare)

{'A Comedy of Errors', 'King Lear', 'A Midsummer Night’s Dream', 'Hamlet', 'Romeo and Juliet', 'Macbeth'}

In [11]:
#Exercise03

# Andersen's works
Andersen = {"The Emperor’s New Clothes", "The Little Mermaid",\
            "The Little Match Girl", "The Snow Queen"}

# Shakespeare's works
Shakespeare = {"Romeo and Juliet", "Hamlet", "King Lear", "Macbeth",\
               "A Midsummer Night’s Dream", "A Comedy of Errors"}

# Tragedies
Tragedy = {"Medea", "Octavia", "Oedipus", "Ur-Hamlet"}
Tragedy.update(Shakespeare)

# Comedies
Comedy = {"The Three Musketeer", "The Clouds"}
Comedy.update(Andersen)

# Uncategorised works
Uncategory = {"Don Quixote", "Rapunzel", "Cinderella"}

print("Tragedy:", Tragedy)
print("Comedy:", Comedy)
print("Uncategory:", Uncategory)

Tragedy: {'A Midsummer Night’s Dream', 'Medea', 'Oedipus', 'Romeo and Juliet', 'A Comedy of Errors', 'King Lear', 'Hamlet', 'Octavia', 'Ur-Hamlet', 'Macbeth'}
Comedy: {'The Emperor’s New Clothes', 'The Clouds', 'The Little Match Girl', 'The Three Musketeer', 'The Little Mermaid', 'The Snow Queen'}
Uncategory: {'Cinderella', 'Rapunzel', 'Don Quixote'}

In [12]:
#Exercise04

Shakespeare_Tragedy = Shakespeare.difference(Comedy)
print("Shakespeare_Tragedy:", Shakespeare_Tragedy)

Shakespeare_Tragedy: {'A Midsummer Night’s Dream', 'Romeo and Juliet', 'A Comedy of Errors', 'King Lear', 'Hamlet', 'Macbeth'}

In [14]:
#Exercise05

set1 = {"story1", "story2", "story3"}
set2 = {"story2", "story4", "story5"}

Andersen_Comedy = set1.intersection(set2)

print(Andersen_Comedy)

{'story2'}

In [15]:
#Exercise06

Andersen_Comedy = {"story1", "story2"}
Shakespeare_Tragedy = {"story3", "story4"}
Shakespeare = {"story5", "story6"}
Andersen = {"story7", "story8"}
Tragedy = {"story9", "story10"}
Comedy = {"story11", "story12"}
Uncategory = {"story13", "story14"}

print("Andersen_Comedy is subset of Shakespeare:", Andersen_Comedy.issubset(Shakespeare))
print("Andersen_Comedy is superset of Shakespeare:", Andersen_Comedy.issuperset(Shakespeare))
print("Andersen_Comedy is disjoint with Shakespeare:", Andersen_Comedy.isdisjoint(Shakespeare))

print()

print("Andersen_Comedy is subset of Andersen:", Andersen_Comedy.issubset(Andersen))
print("Andersen_Comedy is superset of Andersen:", Andersen_Comedy.issuperset(Andersen))
print("Andersen_Comedy is disjoint with Andersen:", Andersen_Comedy.isdisjoint(Andersen))

print()

print("Andersen_Comedy is subset of Tragedy:", Andersen_Comedy.issubset(Tragedy))
print("Andersen_Comedy is superset of Tragedy:", Andersen_Comedy.issuperset(Tragedy))
print("Andersen_Comedy is disjoint with Tragedy:", Andersen_Comedy.isdisjoint(Tragedy))

print()

print("Andersen_Comedy is subset of Comedy:", Andersen_Comedy.issubset(Comedy))
print("Andersen_Comedy is superset of Comedy:", Andersen_Comedy.issuperset(Comedy))
print("Andersen_Comedy is disjoint with Comedy:", Andersen_Comedy.isdisjoint(Comedy))

print()

print("Andersen_Comedy is subset of Uncategory:", Andersen_Comedy.issubset(Uncategory))
print("Andersen_Comedy is superset of Uncategory:", Andersen_Comedy.issuperset(Uncategory))
print("Andersen_Comedy is disjoint with Uncategory:", Andersen_Comedy.isdisjoint(Uncategory))

print()

print("Shakespeare_Tragedy is subset of Shakespeare:", Shakespeare_Tragedy.issubset(Shakespeare))
print("Shakespeare_Tragedy is superset of Shakespeare:", Shakespeare_Tragedy.issuperset(Shakespeare))
print("Shakespeare_Tragedy is disjoint with Shakespeare:", Shakespeare_Tragedy.isdisjoint(Shakespeare))

print()

print("Shakespeare_Tragedy is subset of Andersen:", Shakespeare_Tragedy.issubset(Andersen))
print("Shakespeare_Tragedy is superset of Andersen:", Shakespeare_Tragedy.issuperset(Andersen))
print("Shakespeare_Tragedy is disjoint with Andersen:", Shakespeare_Tragedy.isdisjoint(Andersen))

print()

print("Shakespeare_Tragedy is subset of Tragedy:", Shakespeare_Tragedy.issubset(Tragedy))
print("Shakespeare_Tragedy is superset of Tragedy:", Shakespeare_Tragedy.issuperset(Tragedy))
print("Shakespeare_Tragedy is disjoint with Tragedy:", Shakespeare_Tragedy.isdisjoint(Tragedy))

print()

print("Shakespeare_Tragedy is subset of Comedy:", Shakespeare_Tragedy.issubset(Comedy))
print("Shakespeare_Tragedy is superset of Comedy:", Shakespeare_Tragedy.issuperset(Comedy))
print("Shakespeare_Tragedy is disjoint with Comedy:", Shakespeare_Tragedy.isdisjoint(Comedy))

print()

print("Shakespeare_Tragedy is subset of Uncategory:", Shakespeare_Tragedy.issubset(Uncategory))
print("Shakespeare_Tragedy is superset of Uncategory:", Shakespeare_Tragedy.issuperset(Uncategory))
print("Shakespeare_Tragedy is disjoint with Uncategory:", Shakespeare_Tragedy.isdisjoint(Uncategory))

print()

Andersen_Comedy is subset of Shakespeare: False
Andersen_Comedy is superset of Shakespeare: False
Andersen_Comedy is disjoint with Shakespeare: True

Andersen_Comedy is subset of Andersen: False
Andersen_Comedy is superset of Andersen: False
Andersen_Comedy is disjoint with Andersen: True

Andersen_Comedy is subset of Tragedy: False
Andersen_Comedy is superset of Tragedy: False
Andersen_Comedy is disjoint with Tragedy: True

Andersen_Comedy is subset of Comedy: False
Andersen_Comedy is superset of Comedy: False
Andersen_Comedy is disjoint with Comedy: True

Andersen_Comedy is subset of Uncategory: False
Andersen_Comedy is superset of Uncategory: False
Andersen_Comedy is disjoint with Uncategory: True

Shakespeare_Tragedy is subset of Shakespeare: False
Shakespeare_Tragedy is superset of Shakespeare: False
Shakespeare_Tragedy is disjoint with Shakespeare: True

Shakespeare_Tragedy is subset of Andersen: False
Shakespeare_Tragedy is superset of Andersen: False
Shakespeare_Tragedy is disjoint with Andersen: True

Shakespeare_Tragedy is subset of Tragedy: False
Shakespeare_Tragedy is superset of Tragedy: False
Shakespeare_Tragedy is disjoint with Tragedy: True

Shakespeare_Tragedy is subset of Comedy: False
Shakespeare_Tragedy is superset of Comedy: False
Shakespeare_Tragedy is disjoint with Comedy: True

Shakespeare_Tragedy is subset of Uncategory: False
Shakespeare_Tragedy is superset of Uncategory: False
Shakespeare_Tragedy is disjoint with Uncategory: True

In [17]:
#Exercise07

Andersen_Comedy = {"story1", "story2"}
Shakespeare_Tragedy = {"story3", "story4"}
Shakespeare = {"story5", "story6"}
Andersen = {"story7", "story8"}
Tragedy = {"story9", "story10"}
Comedy = {"story11", "story12"}
Uncategory = {"story13", "story14"}

Work = Andersen_Comedy.union(Shakespeare_Tragedy, Shakespeare, Andersen, Tragedy, Comedy, Uncategory)

print(Work)

{'story1', 'story7', 'story6', 'story4', 'story11', 'story5', 'story13', 'story2', 'story9', 'story14', 'story3', 'story12', 'story10', 'story8'}

In [19]:
#Exercise08

Author = {"Shakespeare", "Andersen", "Homer", "Unknown"}

print(Author)

{'Andersen', 'Homer', 'Shakespeare', 'Unknown'}

In [22]:
#Exercise09

Author_Of = {
    'Hamlet': 'Shakespeare',
    'The Little Mermaid': 'Andersen',
    'The Iliad': 'Homer',
}

print(Author_Of['The Little Mermaid'])

Andersen

In [24]:
#Exercise010

Author_Of = {
    'Hamlet': 'Shakespeare',
    'The Little Mermaid': 'Andersen',
    'The Iliad': 'Homer',
}

Writen_By = {}
for work, author in Author_Of.items():
    if author not in Writen_By:
        Writen_By[author] = [work]
    else:
        Writen_By[author].append(work)
print(Writen_By['Shakespeare'])

['Hamlet']

In [26]:
#Exercise011

Author_Of = {
    'Hamlet': 'Shakespeare',
    'The Little Mermaid': 'Andersen',
    'The Iliad': 'Homer',
}

Work_Count = {work: 0 for work in Author_Of.keys()}

list_of_sets = [
    {'Hamlet', 'The Little Mermaid'},
    {'The Iliad', 'Hamlet'},
]

for set_of_works in list_of_sets:
    for work in set_of_works:
        if work in Work_Count:
            Work_Count[work] += 1
print(Work_Count)

{'Hamlet': 2, 'The Little Mermaid': 1, 'The Iliad': 1}

In [27]:
#Exercise012

text = """
In the span of humanity, writing are what enabled humans to pass on many
knowledge to their next generation. Via writing, the art of telling stories; both
fictional and real; evolved and became a huge part of humanity culture. Among
them, there are stories that transcend languages, culture and history to reach
people far away both in spaces and times. Some prominent examples are the
works of Shakespeare, Andersen, Homer,...
"""

word_count = len(text.split())
print(word_count)

70

In [28]:
#Exercise013

from collections import Counter

text = """
In the span of humanity, writing are what enabled humans to pass on many
knowledge to their next generation. Via writing, the art of telling stories; both
fictional and real; evolved and became a huge part of humanity culture. Among
them, there are stories that transcend languages, culture and history to reach
people far away both in spaces and times. Some prominent examples are the
works of Shakespeare, Andersen, Homer,...
"""

words = text.split()
word_counts = Counter(words)
sorted_word_counts = sorted(word_counts.items(), key=lambda item: item[1], reverse=True)
for word, count in sorted_word_counts:
    print(f"{word}: {count}")

of: 4
and: 4
the: 3
are: 3
to: 3
both: 2
In: 1
span: 1
humanity,: 1
writing: 1
what: 1
enabled: 1
humans: 1
pass: 1
on: 1
many: 1
knowledge: 1
their: 1
next: 1
generation.: 1
Via: 1
writing,: 1
art: 1
telling: 1
stories;: 1
fictional: 1
real;: 1
evolved: 1
became: 1
a: 1
huge: 1
part: 1
humanity: 1
culture.: 1
Among: 1
them,: 1
there: 1
stories: 1
that: 1
transcend: 1
languages,: 1
culture: 1
history: 1
reach: 1
people: 1
far: 1
away: 1
in: 1
spaces: 1
times.: 1
Some: 1
prominent: 1
examples: 1
works: 1
Shakespeare,: 1
Andersen,: 1
Homer,...: 1